In [3]:
from notebook_utils import *

In [12]:
files_path = get_experiment_name_path(GHZExperimentID.EMBED)
files_path = os.path.join(get_project_path(), files_path)
file_path = os.path.join(files_path, "guarantees_embed.csv")
df = pd.read_csv(file_path)
df

             hardware  my_guarantee  ibm_simulated   diff
0       fake_tenerife         0.923          0.876  0.047
1         fake_athens         0.979          0.980 -0.001
2          fake_belem         0.973          0.964  0.009
3         fake_bogota         0.971          0.904  0.067
4     fake_burlington         0.966          0.964  0.002
5          fake_essex         0.969          0.956  0.013
6           fake_lima         0.985          0.990 -0.005
7         fake_london         0.981          0.985 -0.004
8         fake_manila         0.982          0.981  0.001
9        fake_ourense         0.986          0.981  0.005
10         fake_quito         0.942          0.938  0.004
11          fake_rome         0.982          0.975  0.007
12      fake_santiago         0.988          0.989 -0.001
13          fake_vigo         0.983          0.977  0.006
14      fake_yorktown         0.964          0.956  0.008
15  fake_johannesburg         0.965          0.940  0.025
16       fake_almaden         0.973          0.944  0.029
17    fake_boeblingen         0.982          0.974  0.008
18  fake_poughkeepsie         0.973          0.973  0.000
19     fake_singapore         0.980          0.966  0.014
20         fake_tokyo         0.962          0.963 -0.001
21         fake_perth         0.984          0.970  0.014
22         fake_lagos         0.988          0.984  0.004
23       fake_nairobi         0.985          0.985  0.000
24    fake_casablanca         0.979          0.962  0.017
25          fake_oslo         0.984          0.982  0.002
26       fake_jakarta         0.979          0.977  0.002
27         fake_hanoi         0.990          0.988  0.002
28         fake_cairo         0.989          0.934  0.055
29        fake_mumbai         0.989          0.965  0.024
30       fake_kolkata         0.988          0.971  0.017
31      fake_auckland         0.990          0.979  0.011
32        fake_geneva         0.990          0.982  0.008
33      fake_montreal         0.986          0.979  0.007
34         fake_paris         0.983          0.977  0.006
35        fake_sydney         0.986          0.804  0.182
36       fake_toronto         0.985          0.987 -0.002
37      fake_brooklyn         0.984          0.956  0.028
38     fake_manhattan         0.981          0.061  0.920
39     fake_cambridge         0.957          0.932  0.025
40     fake_guadalupe         0.985          0.983  0.002
41     fake_melbourne         0.965          0.933  0.032
42     fake_rochester         0.947          0.071  0.876
43    fake_washington         0.987          0.934  0.053

In [13]:
df.describe()

       my_guarantee  ibm_simulated       diff
count     44.000000      44.000000  44.000000
mean       0.977045       0.919818   0.057227
std        0.014056       0.191471   0.188114
min        0.923000       0.061000  -0.005000
25%        0.972500       0.943000   0.002000
50%        0.982000       0.970500   0.008000
75%        0.986000       0.981000   0.025000
max        0.990000       0.990000   0.920000

In [18]:
df["hardware"] = df["hardware"].str.replace("fake_", "", regex=False).str.capitalize()
df

        hardware  my_guarantee  ibm_simulated   diff
0       Tenerife         0.923          0.876  0.047
1         Athens         0.979          0.980 -0.001
2          Belem         0.973          0.964  0.009
3         Bogota         0.971          0.904  0.067
4     Burlington         0.966          0.964  0.002
5          Essex         0.969          0.956  0.013
6           Lima         0.985          0.990 -0.005
7         London         0.981          0.985 -0.004
8         Manila         0.982          0.981  0.001
9        Ourense         0.986          0.981  0.005
10         Quito         0.942          0.938  0.004
11          Rome         0.982          0.975  0.007
12      Santiago         0.988          0.989 -0.001
13          Vigo         0.983          0.977  0.006
14      Yorktown         0.964          0.956  0.008
15  Johannesburg         0.965          0.940  0.025
16       Almaden         0.973          0.944  0.029
17    Boeblingen         0.982          0.974  0.008
18  Poughkeepsie         0.973          0.973  0.000
19     Singapore         0.980          0.966  0.014
20         Tokyo         0.962          0.963 -0.001
21         Perth         0.984          0.970  0.014
22         Lagos         0.988          0.984  0.004
23       Nairobi         0.985          0.985  0.000
24    Casablanca         0.979          0.962  0.017
25          Oslo         0.984          0.982  0.002
26       Jakarta         0.979          0.977  0.002
27         Hanoi         0.990          0.988  0.002
28         Cairo         0.989          0.934  0.055
29        Mumbai         0.989          0.965  0.024
30       Kolkata         0.988          0.971  0.017
31      Auckland         0.990          0.979  0.011
32        Geneva         0.990          0.982  0.008
33      Montreal         0.986          0.979  0.007
34         Paris         0.983          0.977  0.006
35        Sydney         0.986          0.804  0.182
36       Toronto         0.985          0.987 -0.002
37      Brooklyn         0.984          0.956  0.028
38     Manhattan         0.981          0.061  0.920
39     Cambridge         0.957          0.932  0.025
40     Guadalupe         0.985          0.983  0.002
41     Melbourne         0.965          0.933  0.032
42     Rochester         0.947          0.071  0.876
43    Washington         0.987          0.934  0.053

In [19]:
df.sort_values('diff', ascending=False).to_csv(os.path.join(files_path, "guarantees_embed_sorted.csv"), index=False)