In [2]:
from notebook_utils import *

In [38]:
embeddings = load_all_embeddings(GHZExperimentID.EMBED, False)
count = 0
for (hardware_spec, embeddings_dict) in embeddings.items():
    count += len(embeddings_dict.keys())
count

1275

In [39]:
files_path = get_experiment_name_path(GHZExperimentID.EMBED)
files_path = os.path.join(get_project_path(), files_path)
file_path = os.path.join(files_path, "guarantees_embed.csv")
df = pd.read_csv(file_path)
df

             hardware  my_guarantee  ibm_simulated   diff
0       fake_tenerife         0.923          0.915  0.008
1         fake_athens         0.979          0.981 -0.002
2          fake_belem         0.973          0.967  0.006
3         fake_bogota         0.971          0.896  0.075
4     fake_burlington         0.966          0.967 -0.001
5          fake_essex         0.969          0.964  0.005
6           fake_lima         0.985          0.985  0.000
7         fake_london         0.981          0.988 -0.007
8         fake_manila         0.982          0.978  0.004
9        fake_ourense         0.986          0.987 -0.001
10         fake_quito         0.942          0.951 -0.009
11          fake_rome         0.982          0.983 -0.001
12      fake_santiago         0.988          0.985  0.003
13          fake_vigo         0.983          0.975  0.008
14      fake_yorktown         0.964          0.954  0.010
15  fake_johannesburg         0.965          0.920  0.045
16       fake_almaden         0.973          0.974 -0.001
17    fake_boeblingen         0.982          0.979  0.003
18  fake_poughkeepsie         0.973          0.954  0.019
19     fake_singapore         0.980          0.970  0.010
20         fake_tokyo         0.962          0.956  0.006
21         fake_perth         0.984          0.987 -0.003
22         fake_lagos         0.988          0.976  0.012
23       fake_nairobi         0.985          0.981  0.004
24    fake_casablanca         0.979          0.966  0.013
25          fake_oslo         0.984          0.982  0.002
26       fake_jakarta         0.979          0.978  0.001
27         fake_hanoi         0.990          0.986  0.004
28         fake_cairo         0.989          0.982  0.007
29        fake_mumbai         0.989          0.987  0.002
30       fake_kolkata         0.988          0.979  0.009
31      fake_auckland         0.990          0.984  0.006
32        fake_geneva         0.990          0.968  0.022
33      fake_montreal         0.986          0.984  0.002
34         fake_paris         0.983          0.958  0.025
35        fake_sydney         0.986          0.814  0.172
36       fake_toronto         0.985          0.865  0.120
37      fake_brooklyn         0.984          0.981  0.003
38     fake_manhattan         0.981          0.062  0.919
39     fake_cambridge         0.957          0.129  0.828
40     fake_guadalupe         0.985          0.968  0.017
41     fake_melbourne         0.965          0.938  0.027
42     fake_rochester         0.947          0.069  0.878
43    fake_washington         0.987          0.945  0.042

In [40]:
df.describe()

       my_guarantee  ibm_simulated       diff
count     44.000000      44.000000  44.000000
mean       0.977045       0.902227   0.074818
std        0.014056       0.225895   0.221609
min        0.923000       0.062000  -0.009000
25%        0.972500       0.953250   0.002000
50%        0.982000       0.972000   0.006000
75%        0.986000       0.982000   0.019750
max        0.990000       0.988000   0.919000

In [41]:
df["hardware"] = df["hardware"].str.replace("fake_", "", regex=False).str.capitalize()
df

        hardware  my_guarantee  ibm_simulated   diff
0       Tenerife         0.923          0.915  0.008
1         Athens         0.979          0.981 -0.002
2          Belem         0.973          0.967  0.006
3         Bogota         0.971          0.896  0.075
4     Burlington         0.966          0.967 -0.001
5          Essex         0.969          0.964  0.005
6           Lima         0.985          0.985  0.000
7         London         0.981          0.988 -0.007
8         Manila         0.982          0.978  0.004
9        Ourense         0.986          0.987 -0.001
10         Quito         0.942          0.951 -0.009
11          Rome         0.982          0.983 -0.001
12      Santiago         0.988          0.985  0.003
13          Vigo         0.983          0.975  0.008
14      Yorktown         0.964          0.954  0.010
15  Johannesburg         0.965          0.920  0.045
16       Almaden         0.973          0.974 -0.001
17    Boeblingen         0.982          0.979  0.003
18  Poughkeepsie         0.973          0.954  0.019
19     Singapore         0.980          0.970  0.010
20         Tokyo         0.962          0.956  0.006
21         Perth         0.984          0.987 -0.003
22         Lagos         0.988          0.976  0.012
23       Nairobi         0.985          0.981  0.004
24    Casablanca         0.979          0.966  0.013
25          Oslo         0.984          0.982  0.002
26       Jakarta         0.979          0.978  0.001
27         Hanoi         0.990          0.986  0.004
28         Cairo         0.989          0.982  0.007
29        Mumbai         0.989          0.987  0.002
30       Kolkata         0.988          0.979  0.009
31      Auckland         0.990          0.984  0.006
32        Geneva         0.990          0.968  0.022
33      Montreal         0.986          0.984  0.002
34         Paris         0.983          0.958  0.025
35        Sydney         0.986          0.814  0.172
36       Toronto         0.985          0.865  0.120
37      Brooklyn         0.984          0.981  0.003
38     Manhattan         0.981          0.062  0.919
39     Cambridge         0.957          0.129  0.828
40     Guadalupe         0.985          0.968  0.017
41     Melbourne         0.965          0.938  0.027
42     Rochester         0.947          0.069  0.878
43    Washington         0.987          0.945  0.042

In [42]:
df.sort_values('diff', ascending=False).to_csv(os.path.join(files_path, "guarantees_embed_sorted.csv"), index=False)

## Code to generate the paper table

In [7]:
def get_opt_file_data(file_name) -> Dict[str, Tuple[float, float, float]]:
    files_path = get_experiment_name_path(GHZExperimentID.EMBED)
    answer = dict()
    opt_file_path = os.path.join(get_project_path(), files_path, file_name)

    opt_file = open(opt_file_path)
    
    for line in opt_file.readlines()[1:]:
        elements = line.split(",")
        hardware = elements[0]
        my_guarantee = float(elements[1])
        ibm_guarantee = float(elements[2])
        diff = float(elements[3])
        
        assert hardware not in answer.keys()
        
        answer[hardware] = (my_guarantee, ibm_guarantee, diff)
    opt_file.close()
    
    return answer

In [9]:
op2_data = get_opt_file_data("guarantees_embed_sorted2.csv")
op3_data = get_opt_file_data("guarantees_embed_sorted3.csv")

hardwares = []
my_guarantees = []
ibm_guarantees2 = []
ibm_guarantees3 = []
diffs2 = []
diffs3 = []

assert len(op2_data.keys()) == len(op3_data.keys())

for (hardware, val2) in op2_data.items():
    
    my_guarantee = val2[0]
    op2_guarantee = val2[1]
    diff2 = val2[2]
    
    assert hardware in op3_data.keys()
    val3 = op3_data[hardware]
    my_guarantee_ = val3[0]
    assert my_guarantee == my_guarantee_
    op3_guarantee = val3[1]
    diff3 = val3[2]
    
    
    hardwares.append(hardware)
    my_guarantees.append(my_guarantee)
    ibm_guarantees2.append(op2_guarantee)
    diffs2.append(diff2)
    
    ibm_guarantees3.append(op3_guarantee)
    diffs3.append(diff3)
    
    

df = pd.DataFrame.from_dict({
    'hardware': hardwares,
    'my_guarantee': my_guarantees,
    'opt_level2': ibm_guarantees2,
    'diffs2': diffs2,
    'opt_level3': ibm_guarantees3,
    'diff3': diffs3
}) 

df.to_csv(os.path.join(get_project_path(), get_experiment_name_path(GHZExperimentID.EMBED), "paper_table.csv"))

In [12]:
round(sum(diffs2)/len(diffs2)*100, 3)

5.723

In [13]:
round(sum(diffs3)/len(diffs3)*100, 3)

7.482